.background-header{
    background-color: rgb(83, 181, 238);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    height: 70px;
}

#logo{
    height: 40px;
    margin-top: 20px;
}

.scritto{
    color: gray;
    margin: unset;
}

.titolo{
    font-size: 40px;
    margin-bottom: unset;
}

.the-booleaner{
    color: rgb(83, 181, 238);
}

.didascalia{
    font-size: 10px;
    color: gray;
    margin-top: unset;
}

.didascalia-foto{
    font-size: 10px;
    margin-top: unset;
}

.thead{
    background-color: rgb(12, 158, 216);
    color: white;
}

.table{
    width: 1000px;
    text-align: left;
    border: hidden;
}

.first{
    background-color: rgb(117, 191, 240);
    height: 50px;
}

.second{
    background-color: white;
    height: 50px;
}