.background-header{
    background-color: rgb(83, 181, 238);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    height: 70px;
}

#logo{
    height: 40px;
    margin-top: 20px;
}

.scritto{
    color: gray;
    margin: unset;
}

.titolo{
    font-size: 40px;
}

.the-booleaner{
    color: rgb(83, 181, 238);
}

.didascalia{
    font-size: 10px;
    color: gray;
    margin-top: unset;
}